.jumbotron {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  // height: 70vh;
  
  .jumbotron__container {
    
    h1.title {
      display: block;
      color: #8d0020;
      font-family: Phage Rough;
      font-size: 3.2rem;
      text-align: center;
    } 

    .console {
      display: block;
      text-align: center;
      #text {
        font-size: 2rem;
      }
    }
  }

  .jumbotron-img{
      max-width: 300px;
      img{
        width: 100%;
        object-fit: cover;
      }
  }
}