.jumbotron {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1em;
  // height: 70vh;
  
  .jumbotron__container {
    
    h1.title {
      display: block;
      color: #8d0020;
      font-family: Phage Rough;
      font-size: 3.2rem;
      text-align: center;
    } 

    .console {
      display: block;
      text-align: center;
      letter-spacing: 1em;
      height: 2em;
      #text {
        font-size: 1.6rem;
        font-family: consolas;
      }
      #cursor{
        animation-name: cursor;
        animation-timing-function: linear;
        animation-duration: .4s;
        animation-fill-mode: forwards;
        animation-direction: alternate;
        animation-iteration-count: infinite;
      }
    }
  }

  .jumbotron-img{
      max-width: 300px;
      img{
        width: 100%;
        object-fit: cover;
      }
  }
}
@keyframes cursor {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}