@use '../../../styles/variables.scss' as vars;

.card-project {
  display: flex;
  overflow: hidden;
  border-radius: vars.$border-radius;
  &__img {
    width: 30%;
    overflow: hidden;
  }
  &__container {
    padding: 16pt 24pt;
    width: 70%;
    display: flex;
    flex-direction: column;
    &__list {
      display: flex;
      justify-content: flex-end;
    }
  }


  & ,&__img img {
    transition: transform .3s ease-in, box-shadow .3s ease-in;
  }
  &:hover &__img img {
    transform: scale(1.1);
  }

  &:hover {
    transform: translateX(-1pt) translateY(-1pt);
    box-shadow: vars.$shadow-regular;
  }

  @media (max-width: vars.$screen-size-medium) {
    &__img {
      width: 40%;
    }
    &__container {
      width: 60%;
    }
  }

  @media (max-width: vars.$screen-size-small) {
    flex-direction: column;
    &__img {
      width: 100%;
    }
    &__container {
      width: 100%;
    }
  }
}