.section {
  text-align: center;
  padding: 40pt 0;
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  & > .h1, 
  & > .h2, 
  & > .h3, 
  & > .h4, 
  & > .h5, 
  & > .h6 {
    margin-bottom: 24pt;
  }
}