@use '../../../styles/variables.scss' as vars;

.h1 {
  font-size: 48pt;
  line-height: 48pt;
  font-family: 'Montserrat Subrayada', sans-serif;

  @media (max-width: vars.$screen-size-large) {
    font-size: 40pt;
    line-height: 40pt;
  }

  @media (max-width: vars.$screen-size-medium) {
    font-size: 32pt;
    line-height: 32pt;
  }

  @media (max-width: vars.$screen-size-small) {
    font-size: 24pt;
    line-height: 24pt;
  }
}