@use '../../styles/variables.scss' as vars;

.header {
  padding: 16pt 24pt;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: vars.$color-white;
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__container {
      display: flex;
      align-items: center;
      gap: 40pt;
    }
  }
}