@use '../../../styles/variables.scss' as vars;

.jumbotron {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 40pt 0;
  &__img {
    width: 50%;
    max-width: 300px;
  }
  &__content {
    width: 50%;
    .h1 {
      margin-bottom: 4pt;
    }
  }

  @media (max-width: vars.$screen-size-medium) { 
    flex-direction: column;
    &__img {
      width: 100%;
      max-width: none;
    }
    &__content {
      width: 100%
    }
  }
}