---
import { Icon } from 'astro-icon/components'

interface Props {
  routes: Route[]
}

interface Route {
  url: string
  name: string
}

const { routes } = Astro.props;

let showMenu: boolean = false;

---


<header class="navbar" id="navbar">
    <nav class="navbar__nav">
        <span class="navbar__nav__logo">
            Leonardo<br />
            Torrealba
        </span>

        <ul
            id="list"
            class:list={[
                'navbar__nav__list',
                showMenu ? '' : 'hidden'
            ]}
        >
            { routes.map(({ name, url }) => 
            <li
            >
              <a href={url}>{name}</a>
            </li>
          ) }
        </ul>

        <div class="navbar__menu-icon" id="menu">
            <Icon name="heroicons-outline:menu" >
        </div>
    </nav>
</header>

<style>
    .navbar {
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 10px 20px;
        width: calc(100% - 40px);
        /* display: flex;
        align-items: center;
        justify-content: center; */
        background-color: #f2f2f242;
        backdrop-filter: blur(10px);
        z-index: 1000;
        border-radius: 30px;
        padding: 24px var(--margin-page);
        font-family: 'Montserrat Bold';
        transition: background-color 0.3s ease-in-out;
    }
    .navbar--background {
        background-color: #f2f2f2;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    @media (max-width: 768px) {
        .navbar, .navbar--background {
            /* padding-bottom: 10px;
            position: relative; */
            background-color: #f2f2f2;
        }
    }

    .navbar__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__menu-icon {
        display: none;
    }

    @media (max-width: 768px) {
        .navbar__menu-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            padding: 10px;
            box-shadow: inset 3px 3px 10px -7px #0d0d0d8d;
            cursor: pointer;
            position: relative;
        }
    }

    .navbar__menu-icon > svg {
        width: 32px;
        height: 32px;
        color: #0d0d0d;
    }

    .navbar__nav__logo {
        cursor: pointer;
        font-weight: 700;
    }
    /* @media (max-width: 768px) {
        .navbar__nav__logo {
            display: none;
        }
    } */

    .navbar__nav__list {
        display: flex;
        gap: 32px;
    }

    @media (max-width: 768px) {
        .navbar__nav__list {
            position: absolute;
            width: 100%;
            flex-direction: column;
            align-items: center;
            background-color: #f2f2f2;
            transition: clip-path 0.3s ease-in, opacity 0.3s ease-in, top 0.3s ease-in;
            border-radius: 30px;
            left: 0;
            padding: 60px;
            clip-path: inset(0 0 0 0);
            opacity: 1;
            top: calc(100% + 16px);
        }
        .navbar__nav__list.hidden {
            top: 100%;
            clip-path: inset(0 0 100% 0);
            opacity: 0;
            pointer-events: none;
        }
    }

    .navbar__nav__list a {
        color: #0d0d0d;
    }
</style>

<script>
	import type { literal } from "astro:schema";
import Lenis from "lenis";

	// Initialize Lenis
	const lenis = new Lenis({
		autoRaf: true,
	});
    const navbar = document.querySelector("#navbar");

	// Listen for the scroll event and log the event data
    const updateNavbarBackground = () => {
        const background = lenis.targetScroll > 150;
        if (navbar && background) {
            navbar.classList.add("navbar--background");
        } else if (navbar) {
            navbar.classList.remove("navbar--background");
        }
    };

    // Check background on page load
    updateNavbarBackground();

    // Listen for the scroll event
    lenis.on("scroll", (e) => {
        updateNavbarBackground();
    });

    const toggleMenu = () => {
        document.getElementById('list')
            ?.classList.toggle('hidden')
    }

    document.getElementById('menu')?.addEventListener('click', toggleMenu)

    const list = document.querySelectorAll('#list>li')
    list.forEach(li => {
        li.addEventListener('click', toggleMenu)
    });
</script>