---
import { Icon } from 'astro-icon/components'

interface Props {
    title: string
    url: {
        demo?: string
        code?: string
    }
    description: string
}

const { title, url, description } = Astro.props;
---

<div class="project-card">
    <div class="project-card__content">
        <h3 class="project-card__content__title">{title}</h3>
        <p class="project-card__content__description">{description}</p>
        <div class="project-card__content__buttons">
            { url.code && 
                <a href={url.code} target="_blank">
                    <button type="button" class="project-card__content__buttons__code">
                        Code
                        <Icon name="fa:github" />
                    </button>
                </a>
            }
            { url.demo && 
                <a href={url.demo} target="_blank">
                    <button type="button" class="project-card__content__buttons__demo">
                        Demo
                        <Icon name="heroicons-outline:globe-alt" />
                    </button>
                </a>
            }
        </div>
    </div>
    <div class="project-card__image">
        <!-- <img /> -->
        <iframe
            src={url.demo ? url.demo : url.code}
            sandbox="allow-same-origin"
            tabindex="-1"
        />
    </div>
</div>

<style>
    .project-card {
        display: flex;
        padding: 32px 32px;
        gap: 24px;
    }
    @media (max-width: 768px) {
        .project-card {
            flex-direction: column-reverse;
        }
    }
    .project-card__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* flex-grow: 1; */
        width: 50%;
        gap: 16px;
    }
    @media (max-width: 768px) {
        .project-card__content {
            width: 100%;
        }
    }
    .project-card__content__title {
        font-size: 32px;
        font-weight: 700;
        font-family: 'Montserrat Bold';
        text-align: center;
    }
    .project-card__content__description {
        text-align: center;
    }
    .project-card__content__buttons {
        display: flex;
        gap: 8px;
    }
    .project-card__content__buttons__code,
    .project-card__content__buttons__demo {
        padding: 14px 36px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 30px;
        font-family: 'Montserrat Bold';
        
    }
    .project-card__content__buttons__code {
        border: solid 1px #0d1117;
    }
    .project-card__content__buttons__demo {
        background: #0d1117;
        color: #f2f2f2;
    }
    .project-card__content__buttons button svg {
        width: 24px;
        height: 24px;
    }
    .project-card__image {
        height: 500px;
        background-color: #f2f2f2;
        border-radius: 20px;
        overflow: hidden;
        /* flex-grow: 1; */
        width: 50%;
    }
    @media (max-width: 768px) {
        .project-card__image {
            width: 100%;
        }
    }
    .project-card__image iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
</style>
