---
interface Props {
    image: string
    title: string
    description: string
    key: number
}

const { image, title, description, key } = Astro.props;
---

<div class="skill-card" data-key={key}>
    <img class="skill-card__image" src={image} />
    <h3 class="skill-card__title">{title}</h3>
    <p>{description}</p>
</div>

<style>
    .skill-card {
        border-radius: 20px;
        background-image: linear-gradient(
            45deg,
            rgba(202, 200, 200, 0.007),
            rgba(202, 202, 202, 0.065)
        );
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 35px 41px;
        flex: 0 1 364px;
        cursor: default;
        color: #fff;
    }
    .skill-card__image {
        background-color: #1e1e1eab;
        border-radius: 20px;
        width: 90px;
        height: 90px;
    }
    .skill-card__image image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .skill-card__title {
        font-size: 24px;
        font-weight: bold;
        font-family: "Montserrat Bold", sans-serif;
    }
</style>

<script>
    import gsap from 'gsap'
    import ScrollTrigger from 'gsap/dist/ScrollTrigger'

    gsap.registerPlugin(ScrollTrigger)

    const cards = gsap.utils.toArray<HTMLElement>('.skill-card')

    cards.map(card => {
        gsap.from(card, {
            opacity: 0,
            x: -30,
            scrollTrigger: {
                trigger: card,
                start: 'top 70%',
                end: 'bottom 90%',
                scrub: true,
                pin: false,
                // markers: true,
            }
        })
    })

</script>
