@use '../../../styles/variables' as vars;

.button-icon {
  // padding: 8pt 16pt;
  border-radius: 10px;
  background-color: transparent;
  transition: background .3s ease-in;
  transition: border .3s ease-in;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  gap: 4pt;

  &__text {
    font-weight: 800;
  }
  svg {
    font-size: 16pt;
  }
  &:hover svg, &:hover &__text {
    stroke: vars.$color-secondary;
    color: vars.$color-secondary;
  }
}