*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  outline: none;
  text-decoration: none;
  border: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6,
p, span, button,
input, textarea {
  font-size: 12pt;
  font-weight: 400;
}

button,
input, textarea {
  border: solid 2px transparent;
}

::-webkit-scrollbar {
  display: none;
}

// @media (prefers-color-scheme: dark) {
// }