@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
*, *::before, *::after {
  font-family: 'Ubuntu', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

:root {
  --swiper-theme-color: #215BA6;
}
@media (prefers-color-scheme: dark) {
  :root {
    --swiper-theme-color: #3A8F7D;
  }
}