@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply text-DarkModeDarkGrey px-4 py-2 rounded-lg resize-none
  }
}

*, *::before, *::after {
  font-family: 'Ubuntu', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

input, textarea, button {
  outline: none;
}

:root {
  --swiper-theme-color: #215BA6;
}
@media (prefers-color-scheme: dark) {
  :root {
    --swiper-theme-color: #3A8F7D;
  }
}