@use '../../../styles/variables.scss' as vars;

.nav-list {
  display: flex;
  align-items: center;
  
  flex-direction: column;
  gap: 24pt;
  @media (min-width: vars.$screen-size-large) {
    gap: 16pt;
    flex-direction: row;

  }
}