<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Leonardo Torrealba - Programador Web</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

	@font-face {
		font-family: 'Montserrat Subrayada';
		src: url(/MontserratSubrayada-Bold.ttf);
	}

	@font-face {
		font-family: 'Montserrat Bold';
		src: url(/Montserrat-Bold.ttf);
	}
	@font-face {
		font-family: 'Montserrat';
		src: url(/Montserrat-Regular.ttf);
	}

	:root {
		--hero-title-top-size: 64px;
		--hero-title-lower-size: 96px;
		--title-size: 56px;
		--small-title-size: 32px;
		--margin-page: 60px;
	}

	@media (max-width: 992px) {
		:root {
			--title-size: 36px;
			--small-title-size: 24px;
			--hero-title-top-size: 56px;
			--hero-title-lower-size: 64px;
		}
	}

	@media (max-width: 768px) {
		:root {
			--title-size: 32px;
			--small-title-size: 20px;
			--hero-title-top-size: 36px;
			--hero-title-lower-size: 56px;
			--margin-page: 30px;
		}
	}

	* {
		margin: unset;
		padding: unset;
		border: unset;
		outline: unset;

		box-sizing: border-box;
	}

	body {
		font-family: 'Montserrat', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 16px;
		color: #0d0d0d;
		font-weight: 400;

		overflow-x: hidden;
	}

	a {
		text-decoration: none;
	}

	input,
	textarea,
	button {
		background: unset;
		font-size: 16px;
	}

	ul {
		list-style: none;
	}

	html {
		scroll-behavior: smooth;
	}
</style>
